@model User
<div class="d-flex justify-content-center align-content-center align-items-center mt-lg-5 pt-lg-5">
    <form class="border rounded-3 p-3">
        <h1>Login</h1>
        <div class="row mb-1">
            <label class="col-form-label">Email</label>
            <div>
                <input asp-for="UserName" class="form-control userInput bg-dark text-white" placeholder="example@gmail.com">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label">Password</label>
            <div>
                <input type="password" asp-for="Password" class="form-control userInput bg-dark text-white" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <a class="row nav-link" href="#verification">Forgot password?</a>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="nav-link col-6" href="#verification">Register</a>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}