<div class="d-flex justify-content-center align-content-center align-items-center">
    <form class="border rounded-3 p-3">
        <h1>Login</h1>
        <div class="row mb-3">
            <label class="col-form-label">Email</label>
            <div>
                <input type="email" class="form-control userInput bg-dark text-white" placeholder="example@gmail.com">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label">Password</label>
            <div>
                <input type="password" class="form-control userInput bg-dark text-white" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>